@import "../colors.css";
@import "../typography.css";

:root {
  --input-background-color: var(--color-white);
  --input-border-color-focus: var(--color-light-greenish-100);
  --input-border-color-transition: border-color 100ms ease-in-out;
  --input-border-radius: 3px;
  --input-border: 1px solid var(--color-light-grey-50);
  --input-color-disabled: var(--color-light-silver-100);
  --input-color-error: var(--color-light-error);
  --input-color-success: var(--color-light-success);
  --input-color: var(--color-light-steel-100);
  --input-container-letter-spacing: var(--letter-spacing);
  --input-container-padding: 0 5px;
  --input-disabled-opacity: 0.5;
  --input-font-family: var(--title-font-family);
  --input-font-size: 14px;
  --input-height: 28px;
  --input-icon-active-color: var(--color-light-coal-50);
  --input-icon-color: var(--color-light-chromium-100);
  --input-icon-inactive-color: var(--color-light-chromium-100);
  --input-icon-size: 16px;
  --input-multiline-font-size: 14px;
  --input-multiline-line-height: 20px;
  --input-placeholder-color: var(--color-light-chromium-100);
  --input-textarea-disabled-border: none;
  --input-textarea-height: 100%;
}
