@import "../../colors.css";

:root {
  --checkbox-label-font-size: 14px;
  --checkbox-label-default-color: var(--color-light-coal-100);
  --checkbox-label-disabled-color: var(--color-light-iron-100);
  --checkbox-box-width: 20px;
  --checkbox-box-height: 20px;
  --checkbox-box-background-color: var(--color-white);
  --checkbox-box-border-color: var(--color-light-iron-50);
  --checkbox-box-border-color-disabled: var(--color-light-iron-50);
  --checkbox-box-border-color-checked: var(--color-light-iron-50);
  --checkbox-box-border-radius: 3px;
  --checkbox-margin-right: 16px;
  --checkbox-check-rotation: -45deg;
  --checkbox-check-color: var(--color-light-greenish-20);
  --checkbox-check-width: 19px;
  --checkbox-check-height: 9px;
  --checkbox-check-border-color: var(--color-light-greenish-100);
  --checkbox-checked-background-color: var(--color-light-greenish-20);
  --checkbox-spacing: 10px;
  --checkbox-secondary-text-font-size: 12px;
  --checkbox-margin: 5px;
}
