@import "./properties.css";

.card {
  background-color: var(--card-section-background);
  border-radius: var(--card-border-radius);
  width: 100%;
  box-sizing: border-box;
}

.card * {
  box-sizing: border-box;
}

