@import "./properties.css";

.cardActions {
  padding: var(--card-actions-padding);
}

.cardActions > * {
  margin-left: var(--card-spacing-medium);
}

.cardActions > *:first-child {
  margin-left: unset;
}

