@import "./properties.css";
@import "./CardSection.css";

.card {
  background: var(--color-white);
  box-shadow: var(--card-shadow);
  margin: 0;
  padding: 0;
  border-radius: var(--card-border-radius);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card * {
  box-sizing: border-box;
}

.title {
  padding: var(--card-title-padding);
  display: flex;
  align-items: center;
  outline: none;
}

.icon {
  margin-right: var(--card-title-icon-margin);
}

.title[role="button"] {
  cursor: pointer;
}

.title > h4,
.title > h3,
.title > h2,
.title > h1 {
  margin: 0;
}

.title,
.title > h3 {
  color: var(--color-light-steel-100);
  margin-right: var(--card-title-icon-margin);
}

.content {
  padding: var(--card-content-padding);
}

.graphic,
.graphic > img {
  width: 100%;
}

.actions {
  padding: var(--card-actions-padding);
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin-left: var(--card-spacing-small);
}

.actions > *:first-child {
  margin-left: unset;
}

