@import "./properties.css";

.segmentedSwitch {
  display: inline-flex;
  border-radius: var(--context-switch-border-radius);
  user-select: none;
  border: var(--context-switch-border);
  background-color: var(--context-switch-label-backgound-color);
  box-shadow: var(--context-switch-box-shadow);
}

.item {
  position: relative;
}

.item > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.label {
  background-color: var(--context-switch-label-backgound-color);
  padding: var(--context-switch-label-padding);
  text-transform: var(--context-switch-text-transform);
  font-weight: bold;
  letter-spacing: var(--context-switch-letter-spacing);
  font-family: var(--context-switch-font-family);
  cursor: pointer;
  font-size: var(--context-switch-label-font-size);
  color: var(--context-switch-label-color);
  display: block;
  z-index: 0;
  position: relative;
}

.item input:checked + .label {
  border-radius: var(--context-switch-label-border-radius);
  background-color: var(--context-switch-checked-background-color);
  color: var(--context-switch-checked-label-color);
  z-index: 1;
}
