@import "../colors.css";
@import "../typography.css";

:root {
  --context-switch-border: 1px solid var(--color-light-carbon-100);
  --context-switch-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.55);
  --context-switch-label-font-size: 10px;
  --context-switch-checked-background-color: var(--color-light-greenish-100);
  --context-switch-label-color: var(--color-light-steel-100);
  --context-switch-font-family: var(--title-font-family);
  --context-switch-border-radius: 4px;
  --context-switch-label-border-radius: 3px;
  --context-switch-label-padding: 5px 14px;
  --context-switch-checked-label-color: var(--color-light-carbon-100);
  --context-switch-label-backgound-color: var(--color-light-carbon-100);
  --context-switch-letter-spacing: 0.1em;
  --context-switch-text-transform: uppercase;
}
