@import "../spacing.css";
@import "../typography.css";
@import "../media.css";
@import "../colors.css";

:root {
  --card-spacing-large: var(--spacing-medium);
  --card-spacing-medium: var(--spacing-medium);
  --card-spacing-small: var(--spacing-small);
  --card-shadow: 0 2px 5px 0 var(--color-light-silver-50);
  --card-border-radius: 3px;

  --card-title-font-size: 14px;
  --card-title-icon-margin: 9px;

  --card-title-padding:
    var(--card-spacing-large)
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-actions-padding:
    0
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-content-padding:
    0
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-background: var(--color-light-chromium-100);

  --card-section-title-color: var(--color-white);
  --card-section-title-icon-color: var(--color-light-greenish-100);
  --card-section-title-icon-size: 18px;
  --card-section-background: var(--color-light-chromium-100);

  --card-section-header-background: var(--color-light-silver-20);

  --card-section-subtitle-color: var(--color-light-platinum-20);
  --card-section-subtitle-font-size: 12px;
  --card-section-subtitle-margin-right: var(--spacing-small);
}
