@import "./properties.css";

.radioGroup *,
.radioGroup *:before,
.radioGroup *:after {
  box-sizing: border-box;
  font-family: var(--radio-group-text-font-family);
  font-size: var(--radio-group-text-font-size);
  color: var(--radio-group-text-color);
}

.radioGroup {
  display: flex;
}

.radio {
  font-size: 14px;
}

.label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.input {
  position: relative;
  appearance: none;
  border-radius: 50%;
  width: var(--radio-group-bullet-size);
  height: var(--radio-group-bullet-size);
  border: var(--radio-group-bullet-border);
  border-color: var(--radio-group-color);
  transition: border-color var(--radio-group-transition-speed);
  outline: none;

  @nest .disabled & {
    border-color: var(--radio-group-color-disabled);
  }

  @nest .success & {
    border-color: var(--radio-group-color-success);
  }

  @nest .error & {
    border-color: var(--radio-group-color-error);
  }
}

.input:checked:before {
  transform: scale(1);
}

.input:before {
  content: "";
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  position: absolute;
  transition: transform var(--radio-group-transition-speed);
  transform: scale(0);
  background-color: var(--radio-group-color);

  @nest .disabled & {
    background-color: var(--radio-group-color-disabled);
  }

  @nest .success & {
    background-color: var(--radio-group-color-success);
  }

  @nest .error & {
    background-color: var(--radio-group-color-error);
  }
}

.title {
  order: -1;
}

.secondaryText {
  position: relative;
  margin: var(--radio-group-secondary-text-margin);
  font-size: var(--radio-group-secondary-text-font-size);
}

.error .secondaryText {
  color: var(--radio-group-color-error);
}

.success .secondaryText {
  color: var(--radio-group-color-success);
}
