@import "../../colors.css";
@import "../../typography.css";
@import "../properties.css";

:root {
  --dropdown-background-color: var(--color-white);
  --dropdown-border-bottom: var(--form-item-border-bottom);
  --dropdown-border-color-focus: var(--color-light-greenish-100);
  --dropdown-border-left: none;
  --dropdown-border-radius: var(--form-item-border-radius);
  --dropdown-border-right: none;
  --dropdown-border-top: none;
  --dropdown-color-disabled: var(--form-item-color-disabled);
  --dropdown-container-border-disabled: 1px dashed var(--dropdown-color-disabled);
  --dropdown-error-color: var(--form-item-error-color);
  --dropdown-font-family: var(--form-item-font-family);
  --dropdown-font-size: var(--form-item-font-size);
  --dropdown-icon-size: 30px;
  --dropdown-label-color: var(--form-item-label-color);
  --dropdown-label-font-size: var(--form-item-secondary-font-size);
  --dropdown-line-height: 37px;
  --dropdown-option-color: var(--color-light-chromium-100);
  --dropdown-option-disabled-background: none;
  --dropdown-option-disabled-opacity: 0.6;
  --dropdown-option-selected-color: var(--color-light-blue-100);
  --dropdown-secondary-text-error-color: var(--color-light-error);
  --dropdown-secondary-text-font-size: var(--form-item-secondary-font-size);
  --dropdown-secondary-text-success-color: var(--color-light-success);
  --dropdown-select-padding-bottom: 8px;
  --dropdown-select-padding-left: 0;
  --dropdown-select-padding-right: 20px;
  --dropdown-select-padding-top: 16px;
  --dropdown-success-color: var(--color-light-success);
  --dropdown-text-color: var(--color-light-chromium-100);
}
