@import "../properties.css";

.inputWrap {
  width: 100%;
}

.input {
  appearance: none;
  padding: var(--toolitem-input-inner-spacing);
  border: none;
  width: 100%;
  font-size: var(--toolitem-font-size);
  font-family: var(--body-font-family);
  color: var(--toolitem-input-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.icon svg {
  font-size: var(--toolitem-input-icon-size);
  color: var(--toolitem-input-icon-color);
  transition: color 100ms ease-in-out;
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

