@import "./properties.css";
@import "./header-title.css";
@import "./header-back-button.css";
@import "./header-content.css";
@import "./header-link.css";
@import "./header-menu.css";

.header,
.header * {
  box-sizing: border-box;
}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: var(--header-width);
  height: var(--header-height);
  padding-left: var(--header-padding-left);
  padding-right: var(--header-padding-right);
  background-color: var(--header-background-color);
  box-shadow: var(--header-box-shadow);
}

.header > button {
  margin-right: var(--header-button-margin-right);
}
