@import "../colors.css";

:root {
  --header-width: 100%;
  --header-height: 70px;
  --header-padding-left: 20px;
  --header-padding-right: 20px;
  --header-background-color: var(--color-white);
  --header-box-shadow:
    0
    3px
    4.8px
    0.2px
    rgba(var(--color-light-grey-100), 0.05);

  --header-button-margin-right: 16px;

  --header-title-color: var(--color-light-greenish-100);
  --header-title-font-weight: 600;
  --header-title-font-size: 18px;

  --header-link-svg-height: 26px;
  --header-link-svg-width: 26px;

  --header-content-link-margin-right: 16px;

  --header-back-button-color: var(--color-light-silver-100);
  --header-back-button-border: none;
  --header-back-button-padding: 0;
  --header-back-button-font-size: 25px;
  --header-back-button-background-color: transparent;

  --header-menu-margin-right: 24px;
  --header-menu-text-margin-right: 8px;
}
