@import "../colors.css";
@import "../typography.css";

:root {
  --pagination-background-color: var(--color-white);
  --pagination-border-radius: 3px;
  --pagination-border: 1px solid var(--color-light-platinum-50);
  --pagination-button-active-text-color: var(--color-white);
  --pagination-button-background-color: var(--color-white);
  --pagination-button-border: 1px solid var(--color-light-platinum-50);
  --pagination-button-disabled-background-color: var(--color-light-silver-50);
  --pagination-button-height: 100%;
  --pagination-button-hover-background-color: var(--color-light-greenish-120);
  --pagination-button-padding: 5px;
  --pagination-button-pressed-background-color: var(--color-light-greenish-150);
  --pagination-button-width: 23px;
  --pagination-label-error-background-color: var(--color-light-red-20);
  --pagination-label-padding: 0 8px;
  --pagination-error-border: 1px solid rgba(var(--color-light-salmon-120), 1);
  --pagination-error-button-text-color: rgba(var(--color-light-salmon-120), 1);
  --pagination-font-family: var(--title-font-family);
  --pagination-font-size: 14px;
  --pagination-height: 28px;
  --pagination-input-border: none;
  --pagination-input-color: inherit;
  --pagination-input-height: 100%;
  --pagination-input-left: 0;
  --pagination-input-letter-spacing: 0;
  --pagination-input-padding: 0;
  --pagination-input-top: 0;
  --pagination-input-width: 100%;
  --pagination-text-color: var(--color-light-steel-100);
}
