@import "./properties.css";

@keyframes normalRelevance-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-normal-relevance-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-normal-relevance-color);
  }
}

@keyframes lowRelevance-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-low-relevance-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-low-relevance-color);
  }
}

@keyframes highRelevance-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-high-relevance-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-high-relevance-color);
  }
}

.light {

  &.normalRelevance {
    background-color: var(--button-normal-relevance-color);
    border-color: var(--button-normal-relevance-color);
    will-change: box-shadow;

    &.gradient {
      background-image: var(--button-normal-relevance-gradient);
    }

    @nest &.outline, &.clean {
      color: var(--button-normal-relevance-color);
    }
  }

  &.normalRelevance:focus {
    animation-name: normalRelevance-focus;
    animation-duration: var(--button-focus-animation-duration);
    background-color: var(--button-normal-relevance-focus);
    background-image: none;
  }

  &.normalRelevance:hover {
    animation: none;
    background-color: var(--button-normal-relevance-hover);
    background-image: none;
    border-color: var(--button-normal-relevance-hover);
  }

  &.normalRelevance:active {
    animation: none;
    background-color: var(--button-normal-relevance-active);
    background-image: none;
    border-color: var(--button-normal-relevance-active);
  }

  &.lowRelevance {
    background-color: var(--button-low-relevance-color);
    border-color: var(--button-low-relevance-color);
    will-change: box-shadow;

    &.gradient {
      background-image: var(--button-low-relevance-gradient);
    }

    @nest &.outline, &.clean {
      color: var(--button-low-relevance-color);
    }
  }

  &.lowRelevance:focus {
    animation-name: lowRelevance-focus;
    animation-duration: var(--button-focus-animation-duration);
    background-color: var(--button-low-relevance-focus);
    background-image: none;
  }

  &.lowRelevance:hover {
    animation: none;
    background-color: var(--button-low-relevance-hover);
    border-color: var(--button-low-relevance-hover);
  }

  &.lowRelevance:active {
    animation: none;
    background-color: var(--button-low-relevance-active);
    background-image: none;
    border-color: var(--button-low-relevance-active);
  }

  &.highRelevance {
    background-color: var(--button-high-relevance-color);
    border-color: var(--button-high-relevance-color);
    will-change: box-shadow;

    &.gradient {
      background-image: var(--button-high-relevance-gradient);
    }

    @nest &.outline, &.clean {
      color: var(--button-high-relevance-color);
    }
  }

  &.highRelevance:focus {
    animation-name: highRelevance-focus;
    animation-duration: var(--button-focus-animation-duration);
    background-color: var(--button-high-relevance-focus);
    background-image: none;
  }

  &.highRelevance:hover {
    animation: none;
    background-color: var(--button-high-relevance-hover);
    background-image: none;
    border-color: var(--button-high-relevance-hover);
  }

  &.highRelevance:active {
    animation: none;
    background-color: var(--button-high-relevance-active);
    background-image: none;
    border-color: var(--button-high-relevance-active);
  }
}
