@import "./properties.css";
@import "./colors.css";

.button {
  border: none;
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-style: var(--button-font-style);
  letter-spacing: var(--button-letter-spacing);
  text-transform: var(--button-text-transform);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/*
 * disabled button style
 * */

.button,
.gradient,
.clean,
.outline {
  @nest
  &.button:disabled:hover,
  &.button:disabled {
    cursor: not-allowed;
    background: var(--button-disabled-background-color);
    background-image: var(--button-disabled-background-color);
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
  }
}

.outline:disabled,
.clean:disabled {
  background: none;
  color: var(--button-outline-disabled-color);
}

.flat {
  background-image: none;
}

.button.outline,
.button.clean {
  background: none;

  @nest
  &:hover,
  &:focus,
  &:active {
    color: var(--button-color);
  }
}

.button.outline {
  border-style: var(--button-outline-border-style);
  border-width: var(--button-outline-border-width);

  /*
   * Remove 1px related to the border-width
   * */

  &.tiny {
    padding: var(--button-outline-padding-tiny);
  }

  &.small {
    padding: var(--button-outline-padding-small);
  }

  &.default {
    padding: var(--button-outline-padding-default);
  }

  &.large {
    padding: var(--button-outline-padding-large);
  }
}

.button.outline:disabled {
  border: var(--button-outline-disabled-border);
}

/*
 * Icon Alignment
 * */

.button svg {
  margin: var(--button-icon-margin);
}

/*
 * Button sizes
 * */

.tiny {
  padding: var(--button-padding-tiny);
  font-size: var(--button-font-size-tiny);
  height: var(--button-height-tiny);
}

.small {
  padding: var(--button-padding-small);
  font-size: var(--button-font-size-small);
  height: var(--button-height-small);
}

.default {
  padding: var(--button-padding-default);
  font-size: var(--button-font-size-default);
  height: var(--button-height-default);
}

.large {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-large);
  height: var(--button-height-large);
}
