@import "./properties.css";

.alert * {
  box-sizing: border-box;
  margin: var(--alert-margin);
}

.alert {
  font-size: var(--alert-font-size);
  display: flex;
  border: var(--alert-border);
  border-radius: var(--alert-border-radius);
  padding: var(--alert-padding);
  align-items: center;
  font-family: var(--alert-font-family);
}

.content {
  margin-left: var(--alert-content-margin-left);
  margin-right: var(--alert-content-margin-right);
  color: var(--alert-color);
}

.icon {
  height: var(--alert-icon-height);
  width: var(--alert-icon-width);
  color: var(--alert-secondary-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--alert-icon-size);
}

.light {

  &.warning {
    background-color: var(--alert-warning-color);
  }

  &.info {
    background-color: var(--alert-info-color);
  }

  &.error {
    background-color: var(--alert-error-color);
  }

  &.success {
    background-color: var(--alert-success-color);
  }
}

