@import "../colors.css";
@import "../typography.css";

:root {
  --alert-border-radius: 3px;
  --alert-border: 1px solid var(--color-light-silver-100);
  --alert-color: var(--color-light-coal-100);
  --alert-content-margin-left: var(--spacing-small);
  --alert-content-margin-right: var(--spacing-small);
  --alert-error-color: var(--color-light-error);
  --alert-font-family: var(--title-font-family);
  --alert-font-size: 16px;
  --alert-icon-height: 50px;
  --alert-icon-size: 16px;
  --alert-icon-width: 59px;
  --alert-info-color: var(--color-light-info);
  --alert-margin: 0;
  --alert-padding: 2px;
  --alert-secondary-icon-color: var(--color-white);
  --alert-success-color: var(--color-light-success);
  --alert-warning-color: var(--color-light-warning);
}
