@import "../../colors.css";
@import "../../typography.css";
@import "../properties.css";

:root {
  --input-color-disabled: var(--form-item-color-disabled);
  --input-color-error: var(--color-light-error);
  --input-color-success: var(--color-light-success);
  --input-container-disabled-border-bottom: 1px dashed var(--form-item-color-disabled);
  --input-container-disabled-border-radius: 6px;
  --input-container-letter-spacing: var(--letter-spacing);
  --input-container-padding: 4px;
  --input-container-textarea-padding-top: 25px;
  --input-display-password-icon-bottom: 8px;
  --input-display-password-icon-right: 8px;
  --input-font-family: var(--title-font-family);
  --input-font-size: var(--form-item-font-size);
  --input-icon-active-color: var(--color-light-coal-50);
  --input-icon-inactive-color: var(--color-light-chromium-100);
  --input-icon-margin: 15px;
  --input-icon-padding: 22px;
  --input-label-color: var(--form-item-label-color);
  --input-label-color-focus: var(--color-light-blue-100);
  --input-label-font-size-default: var(--input-font-size);
  --input-label-font-size-focus: var(--form-item-secondary-font-size);
  --input-label-top: 20px;
  --input-label-transition-time: 0.1s;
  --input-multiline-content-present-top: 4px;
  --input-multiline-expander-min-height: 25px;
  --input-multiline-font-size: var(--input-font-size);
  --input-multiline-line-height: 20px;
  --input-multiline-padding-bottom: 6px;
  --input-multiline-padding-left: 1px;
  --input-multiline-padding-right: 1px;
  --input-padding-bottom: 6px;
  --input-padding-top: 16px;
  --input-secondary-text-font-size: var(--form-item-secondary-font-size);
  --input-secondary-text-margin-top: 5px;
  --input-textarea-border-bottom: 2px solid rgba(var(--color-light-coal-100), 0.25);
  --input-textarea-border-radius: 3px;
  --input-textarea-caret-default-color: var(--color-light-blue-100);
  --input-textarea-disabled-background: var(--color-light-silver-50);
  --input-textarea-disabled-border: none;
  --input-textarea-focus-border-color: var(--color-light-blue-100);
  --input-textarea-focus-placeholder-color: var(--color-light-chromium-100);
  --input-textarea-focus-placeholder-opacity: 1;
  --input-textarea-focus-transition-time: 100ms;
  --input-textarea-height: calc(100% - 25px);
  --input-textarea-label-top: 4px;
  --input-textarea-placeholder-opacity: 0;
}
