/* stylelint-disable selector-max-class */
@import "../typography.css";
@import "./properties.css";

.input {
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  display: flex;
  flex: 1;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  position: relative;
  transition: var(--input-border-color-transition);
  width: 100%;
  z-index: 1;
  min-height: var(--input-height);
}

.input,
.input * {
  box-sizing: border-box;
}

.boxContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.disabled,
.container > input:disabled,
.container > textarea:disabled {
  cursor: not-allowed;
  opacity: var(--input-disabled-opacity);
}

.container {
  position: relative;
  flex: 1;
  padding: var(--input-container-padding);
  display: flex;
  align-items: center;
}

.container * {
  font-family: var(--input-font-family);
  letter-spacing: var(--input-container-letter-spacing);
}

.container > textarea,
.container > input {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  font-size: var(--input-font-size);
  background: none;
  color: var(--input-color);
  flex: 1;
}

.container > textarea {
  margin: 0;
  resize: none;
  z-index: 1;
  position: absolute;
  height: var(--input-textarea-height);
  overflow: hidden;
  width: 100%;
}

.container > textarea:disabled,
.container > input:disabled {
  border: var(--input-textarea-disabled-border);
}

.container > textarea::placeholder,
.container > input::placeholder {
  color: var(--input-placeholder-color);
  font-size: var(--input-font-size);
}

.container > textarea:focus,
.container > input:focus {
  outline: none;
}

.icon {
  color: var(--input-icon-inactive-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.icon svg {
  width: var(--input-icon-size);
  color: var(--input-icon-color);
}

.disabled .icon {
  color: var(--input-color-disabled);
}

.active .icon {
  color: var(--input-icon-active-color);
}

.focused {
  border-color: var(--input-border-color-focus);
}

.displayPasswordIcon {
  font-size: var(--input-icon-size);
  cursor: pointer;
}

.multiline {
  height: auto;
}

.multiline > .expander {
  white-space: pre-wrap;
  visibility: hidden;
  word-wrap: break-word;
}

.multiline > .expander,
.multiline textarea {
  font-size: var(--input-multiline-font-size);
  line-height: var(--input-multiline-line-height);
  word-break: break-word;
}

.error {
  border-color: var(--input-color-error);
}

.success {
  border-color: var(--input-color-success);
}
