@import "../typography.css";
@import "../spacing.css";
@import "../colors.css";
@import "./properties.css";

.container,
.container * {
  box-sizing: border-box;
}

.container {
  display: inline-flex;
  background: var(--date-selector-background);
  border: var(--date-selector-border);
  border-radius: var(--date-selector-border-radius);
  box-shadow: var(--date-selector-box-shadow);
}

.sidebar {
  background-color: var(--date-selector-sidebar-background);
  padding: var(--date-selector-sidebar-padding);
  border-right: var(--date-selector-sidebar-border);
}

.sidebar h2 {
  color: var(--date-selector-sidebar-title-color);
  font-size: var(--date-selector-sidebar-h2-font-size);
  font-weight: var(--date-selector-sidebar-h2-font-weight);
  font-style: var(--date-selector-sidebar-h2-font-style);
  text-transform: var(--date-selector-sidebar-h2-text-transform);
  margin: var(--date-selector-sidebar-h2-magin);
  padding-left: var(--date-selector-sidebar-h2-padding-left);
}

.sidebar li,
.sidebar ol {
  padding: 0;
  margin: 0;
}

.sidebar li {
  list-style: none;
  margin-top: var(--spacing-small);
}

.sidebar li:first-child {
  margin-top: unset;
}

.sidebar input {
  appearance: none;
  position: absolute;
  opacity: 0;
}

.sidebar label {
  width: var(--date-selector-sidebar-label-width);
  display: block;
  cursor: pointer;
  text-transform: var(--date-selector-sidebar-label-text-transform);
  font-family: var(--title-font-family);
  font-size: var(--date-selector-sidebar-label-font-size);
  padding-left: var(--date-selector-sidebar-label-margin-left);
  border-left: var(--date-selector-sidebar-label-border-left);
  transition: var(--date-selector-sidebar-label-transition);
  will-change: var(--date-selector-sidebar-label-will-change);
}

.sidebar input:checked ~ label {
  color: var(--date-selector-sidebar-active-color);
  padding-left: var(--date-selector-sidebar-input-padding-left);
  border-left-width: var(--date-selector-sidebar-input-border-width);
  border-left-color: var(--date-selector-sidebar-active-color);
  font-weight: var(--date-selector-sidebar-input-font-weight);
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  padding: var(--spacing-small);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selectedDays {
  flex: 1;
  text-align: start;
  color: var(--date-selector-selected-days-color);
  font-size: vat(--date-selector-selected-days-font-size);
  margin-bottom: var(--date-selector-selected-days-margin-bottom);
}

.actions button {
  font-size: var(--date-selector-font-size);
}

.actions button:active {
  outline: none;
  box-shadow: none;
}

.separator {
  display: inline-block;
  width: var(--date-selector-separator-width);
  height: var(--date-selector-separator-height);
  background-color: var(--date-selector-separator);
}
