
@import "./properties.css";

.ReactDates-overrides {

  & .DayPicker {
    border: var(--calendar-day-picker-border);
    box-shadow: var(--calendar-day-box-shadow);
    font-weight: var(--calendar-day-picker-font-weight);
    background: var(--calendar-day-picker-background);
  }

  & .DateRangePicker {
    position: absolute;
    z-index: 1;
    font-family: var(--calendar-font-family);
  }

  & .CalendarDay {
    border: var(--calendar-day-picker-border);
    color: var(--calendar-day-color);
    font-size: var(--calendar-day-font-size);
    height: var(--calendar-day-height) !important; /* stylelint-disable-line */
    font-weight: var(--calendar-day-font-weight);
    transition: var(--calendar-day-transition);
    will-change: color background-color;
  }

  & .DateRangePickerInput {
    border-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .DateRangePicker,
  & .DateRangePicker > div {
    height: 100%;
  }

  & .DateRangePicker__picker--open-down {
    top: var(--calendar-top);
  }

  & .DayPickerNavigation__next,
  & .DayPickerNavigation__prev {
    color: var(--calendar-active-color);
    border: var(--calendar-day-picker-border);
    background-color: var(--calendar-day-picker-background-color);
    font-size: var(--calendar-icon-font-size);
  }

  & .CalendarMonth .CalendarMonth__caption {
    opacity: 0;
    color: var(--calendar-month-caption-color);
    padding: var(--calendar-month-caption-padding);
    font-size: var(--calendar-day-font-size);
    text-transform: var(--calendar-month-caption-text-transform);
    transition: var(--calendar-month-transition);
  }

  & .CalendarMonth table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 var(--calendar-week-spacing);
  }

  & .CalendarMonth table:before {
    content: "";
    display: block;
    height: var(--calendar-month-height);
    width: var(--calendar-month-width);
    background-color: var(--calendar-month-background-color);
    transform: var(--calendar-month-transform);
    position: absolute;
    opacity: 0;
    transition: var(--calendar-month-transition);
  }

  & .CalendarMonth[data-visible="true"] table:before {
    opacity: 1;
  }

  & .CalendarMonth[data-visible="false"] + .CalendarMonth table:before {
    opacity: 0;
  }

  & .CalendarMonth[data-visible="true"] .CalendarMonth__caption {
    opacity: 1;
  }

  & .CalendarMonth[data-visible="false"]:last-child .CalendarMonth__caption {
    opacity: 0;
  }

  & .DayPicker__week-header {
    top: var(--calendar-day-picker-header-top);
  }

  & .DayPicker__week-header ul {
    padding-top: var(--calendar-week-padding-top);
    padding-bottom: var(--calendar-week-padding-bottom);
    background-color: var(--calendar-week-name-background);
    color: var(--calendar-week-name-color);
    font-weight: var(--calendar-week-name-font-weight);
    font-size: var(--calendar-week-name-font-size);
    text-transform: var(--calendar-day-picker-header-text-transform);
    border-top: var(--calendar-day-picker-border-top);
    border-bottom: var(--calendar-day-picker-border-bottom);
  }

  & .DayPickerNavigation {
    color: var(--calendar-active-color);
  }

  & .DayPickerNavigation__prev {
    left: var(--calendar-day-picker-prev-left);
  }

  & .DayPickerNavigation__next {
    right: var(--calendar-day-picker-next-right);
  }

  & .CalendarDay--blocked-out-of-range {
    color: var(--calendar-day-out-of-range-color);
  }

  & .CalendarMonthGrid {
    background: var(--calendar-month-grid-background);
  }

  & .CalendarDay--selected-span {
    background-color: var(--calendar-selected-span);
  }

  & .CalendarDay--selected-start,
  & .CalendarDay--selected-end,
  & .CalendarDay--selected {
    background-color: var(--calendar-active-color);
    color: var(--color-white);
    font-weight: var(--calendar-day-selected-font-weight);
  }

  & .CalendarDay--selected {
    border-radius: var(--calendar-day-selected-border-radius);
  }

  & .CalendarDay--selected-start {
    border-radius:
      var(--calendar-day-selected-border-radius)
      0
      0
      var(--calendar-day-selected-border-radius);
  }

  & .CalendarDay--selected-end {
    border-radius:
      0
      var(--calendar-day-selected-border-radius)
      var(--calendar-day-selected-border-radius)
      0;
  }

  & .CalendarDay--hovered-span:not(.CalendarDay--selected-start),
  & .CalendarDay--hovered.CalendarDay--selected-span {
    background-color: var(--calendar-hovered-span);
  }

  & .CalendarDay:active {
    background-color: lighten(var(--calendar-active-color), 30%);
    border-radius: var(--calendar-day-selected-border-radius);
  }
}
