@import "./properties.css";

.checkboxGroup > div {
  display: flex;
  flex-wrap: wrap;
}

.checkboxGroup * {
  box-sizing: border-box;
}

.secondaryText {
  font-size: var(--checkbox-group-secondary-text-font-size);
  margin: 0;
  margin-left: var(--checkbox-group-secondary-text-margin-left);
}

.error {
  color: var(--checkbox-group-secondary-text-color-error);
}

.success {
  color: var(--checkbox-group-secondary-text-color-success);
}
