/* stylelint-disable selector-max-class */
@import "./properties.css";

.dropdown * {
  box-sizing: border-box;
  font-family: var(--dropdown-font-family);
  letter-spacing: var(--letter-spacing);
}

.dropdown {
  width: 100%;
  position: relative;
  cursor: pointer;
  color: var(--dropdown-text-color);

  &.error .select {
    border-color: var(--dropdown-error-color);
  }

  &.error .label {
    color: var(--dropdown-error-color);
  }

  &.error .secondaryText {
    color: var(--dropdown-error-color);
  }

  &.success .select {
    border-color: var(--dropdown-success-color);
  }

  &.success .label {
    color: var(--color-light-success);
  }

  &.success .secondaryText {
    color: var(--color-light-success);
  }
}

.select {
  appearance: none;
  background-color: var(--dropdown-background-color);
  border-top: var(--dropdown-border-top);
  border-right: var(--dropdown-border-right);
  border-bottom: var(--dropdown-border-bottom);
  border-left: var(--dropdown-border-left);
  border-radius: var(--dropdown-border-radius);
  color: inherit;
  cursor: inherit;
  display: block;
  font-size: var(--dropdown-font-size);
  outline: none;
  overflow: hidden;
  padding:
    var(--dropdown-select-padding-top, 0)
    var(--dropdown-select-padding-right, 0)
    var(--dropdown-select-padding-bottom, 0)
    var(--dropdown-select-padding-left, 0);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  & .option {
    color: var(--dropdown-option-color);
  }
}

.arrow {
  color: inherit;
  border: none;
  position: absolute;
  top: var(--dropdown-select-padding-top, 0);
  right: 0;
  pointer-events: none;
  width: var(--dropdown-icon-size);
  height: var(--dropdown-icon-size);
}

.label:hover {
  background: var(--dropdown-option-disabled-background);
  cursor: not-allowed;
}

.active {
  color: var(--dropdown-option-selected-color);
}

.label {
  color: var(--dropdown-label-color);
  font-size: var(--dropdown-label-font-size);
  line-height: var(--dropdown-label-font-size);
  display: block;
}

.secondaryText {
  width: 100%;
  font-size: var(--dropdown-secondary-text-font-size);
  text-align: left;
  margin: 0;
  margin-top: 8px;
}

.disabled,
.disabled * {
  cursor: not-allowed;
}

.disabled .select {
  border-bottom: var(--dropdown-container-border-disabled);
}

.disabled .select,
.disabled .arrow {
  color: var(--dropdown-color-disabled);
}

.disabled .label {
  color: var(--dropdown-color-disabled);
  opacity: var(--dropdown-option-disabled-opacity);
}

