@import "./webfonts/assistant/index.css";
@import "./spacing.css";
@import "./colors.css";

:root {
  --heading-1-font-size: 24px;
  --heading-2-font-size: 20px;
  --heading-3-font-size: 18px;
  --caption-font-size: 12px;
  --body-font-size: 16px;
  --blockquote-border-radius: 2px;
  --blockquote-border: 5px solid var(--color-light-greenish-100);

  --title-font-family: "Assistant";
  --title-color: var(--color-light-coal-100);
  --title-font-weight: bold;
  --title-font-style: normal;
  --body-font-family: "Assistant";
  --body-link-color: var(--color-light-greenish-100);
  --letter-spacing: 0.02em;
  --body-color: var(--color-light-chromium-100);
}

