@import "../media.css";
@import "./properties.css";

.footer,
.footer * {
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--footer-width);
  min-height: var(--footer-min-height);
  background-color: var(--footer-background-color);
}

.footer nav {
  display: flex;
  align-items: center;
  padding-left: var(--footer-nav-padding-left);
  padding-right: var(--footer-nav-padding-right);
  flex-wrap: wrap;

  & > * {
    padding-top: var(--footer-nav-padding-top);
    padding-bottom: var(--footer-nav-padding-bottom);
  }
}

.footer a {
  margin-left: var(--footer-a-margin-left);
  margin-right: var(--footer-a-margin-right);
  text-transform: var(--footer-a-text-transform);
  color: var(--footer-a-color);

  &:hover {
    text-decoration: var(--footer-a-hover-text-decoration);
    color: var(--footer-a-hover-color);
  }
}

.footer nav:last-child * {
  margin-left: var(--footer-nav-last-child-margin-left);
  margin-right: var(--footer-nav-last-child-margin-right);
}

.footer nav :first-child {
  margin-left: var(--footer-nav-first-of-type-margin-left);
}

.footer nav :last-child {
  margin-right: var(--footer-nav-last-of-type-margin-right);
}

.footer button,
.footer a {
  border: var(--footer-button-border);
  cursor: pointer;
  background-color: var(--footer-button-background-color);
  outline: 0;
  white-space: nowrap;
}

.footer button {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: var(--footer-button-font-size);
}

.footer img,
.footer svg {
  filter: var(--footer-img-svg-filter);

  &:hover {
    filter: var(--footer-img-svg-hover-filter);
  }
}
