@import "../colors.css";

:root {
  --footer-width: 100%;
  --footer-min-height: 86px;
  --footer-background-color: var(--color-light-smoke-50);

  --footer-nav-padding-left: 24px;
  --footer-nav-padding-right: 24px;
  --footer-nav-padding-top: 15px;
  --footer-nav-padding-bottom: 15px;

  --footer-nav-first-child-border-bottom: 1px solid var(--color-light-silver-100);

  --footer-a-margin-left: 12px;
  --footer-a-margin-right: 12px;
  --footer-a-text-transform: uppercase;
  --footer-a-color: var(--color-light-coal-100);
  --footer-a-hover-text-decoration: none;
  --footer-a-hover-color: var(--color-light-greenish-100);

  --footer-nav-last-child-margin-left: 12px;
  --footer-nav-last-child-margin-right: 12px;

  --footer-nav-first-of-type-margin-left: 0;
  --footer-nav-last-of-type-margin-right: 0;

  --footer-button-border: none;
  --footer-button-background-color: transparent;
  --footer-button-font-size: 26px;

  --footer-img-svg-filter: grayscale(1);
  --footer-img-svg-hover-filter: grayscale(0);

  --footer-button-padding-medias: 0;
  --footer-nav-padding-top-medias: 0;
  --footer-nav-padding-bottom-medias: 0;
  --footer-nav-first-child-border-medias: none;
}
