@import "../../theme-pagarme/typography.css";
@import "./properties";

.tab {
  display: inline-block;
  user-select: none;
  border: none;
  font-family: var(--tabbar-font-family);
  font-weight: var(--tabbar-tab-font-weight);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  width: var(--tabbar-tab-width);
  color: var(--tabbar-text);
  background: var(--tabbar-background);
  padding: var(--tabbar-tab-padding);
  font-size: var(--tabbar-tab-font-size);
}

.tab > input {
  visibility: hidden;
  position: absolute;
}

.icon {
  margin-bottom: var(--tabbar-icon-margin);
  font-size: var(--tabbar-icon-size);
}

.selected {
  color: var(--tabbar-highlight);
  background: var(--tabbar-highlight-background);
  border-top: solid var(--tabbar-highlight-size) var(--tabbar-highlight);
  padding-top: var(--tabbar-highlight-padding);
}
