@import "./properties.css";

.sections {
  border-bottom: var(--sidebar-sections-border-bottom);

  & ul {
    margin: var(--sidebar-sections-list-margin);
    padding: var(--sidebar-sections-list-padding);
    margin-top: var(--sidebar-sections-list-margin-top);
  }

  & li {
    border-top: var(--sidebar-sections-list-item-border-top);
    list-style: none;
    padding: var(--sidebar-sections-list-item-padding);
  }

  & p {
    color: var(--sidebar-sections-text-color);
    font-size: var(--sidebar-sections-text-font-size);
    margin: var(--sidebar-sections-text-maring);
    text-transform: var(--sidebar-sections-text-text-transform);
  }

  & p:last-child {
    font-size: var(--sidebar-sections-text-last-child-font-size);
    margin-bottom: var(--sidebar-sections-text-last-child-margin-bottom);
    margin-top: var(--sidebar-sections-text-last-child-margin-top);
  }

  & small {
    font-size: var(--sidebar-sections-small-font-size);
  }
}
