@import "../colors.css";
@import "./properties.css";

.header {
  align-items: center;
  border-bottom: var(--sidebar-header-border-bottom);
  display: flex;
  justify-content: space-between;
  padding: var(--sidebar-header-padding);
}

.header img,
.header svg {
  display: block;
  width: var(--sidebar-brand-width);
}

.header button {
  background: var(--sidebar-menu-background);
  border: var(--sidebar-menu-border);
  color: var(--sidebar-menu-color);
  cursor: pointer;
  outline: none;
  padding: var(--sidebar-menu-padding);

  & svg {
    height: var(--sidebar-menu-icon-height);
    width: var(--sidebar-menu-icon-width);
  }
}

@media (--media-desk) {

  .header img {
    width: var(--sidebar-brand-width-desk);
  }
}

@media (--media-tv) {

  .header img {
    width: var(--sidebar-brand-width-tv);
  }
}
