@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";

:root {
  --tag-font-family: var(--title-font-family);
  --tag-font-style: normal;
  --tag-font-size: 12px;
  --tag-height: 26px;
  --tag-horizontal-padding: var(--spacing-small);
  --tag-color: var(--color-light-chromium-100);
  --tag-border: 1px dashed var(--color-light-coal-50);
  --tag-border-radius: 3px;
}

