@import "./properties.css";

.pagination {
  background-color: var(--pagination-background-color);
  border-radius: var(--pagination-border-radius);
  border: var(--pagination-border);
  color: var(--pagination-text-color);
  display: inline-flex;
  font-size: var(--pagination-font-size);
  height: var(--pagination-height);
  overflow: hidden;
  width: auto;

  &.error {
    border: var(--pagination-error-border);
  }

  &.error button:disabled {
    border: none;
  }
}

.label {
  align-content: space-between;
  align-items: safe center;
  cursor: text;
  display: inline-flex;
  flex-direction: row;
  font-family: var(--pagination-font-family);
  font-weight: normal;
  padding: var(--pagination-label-padding);
  white-space: pre;

  @nest .error & {
    background-color: var(--pagination-label-error-background-color);
  }
}

.prev,
.next {
  align-items: center;
  background-color: var(--pagination-button-background-color);
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: var(--pagination-button-height);
  justify-content: space-around;
  outline: none;
  width: var(--pagination-button-width);

  &:disabled {
    background-color: var(--pagination-button-disabled-background-color);
    cursor: not-allowed;
  }

  &:disabled svg {
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    background-color: var(--pagination-button-hover-background-color);
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: var(--pagination-button-pressed-background-color);
  }

  &:hover:not(:disabled),
  &:active:not(:disabled),
  &:focus:not(:disabled) {
    color: var(--pagination-button-active-text-color);
    z-index: 1;
  }
}

.prev {
  border-right: var(--pagination-button-border);
}

.next {
  border-left: var(--pagination-button-border);
}

.input {
  appearance: textfield;
  background: none;
  border: var(--pagination-input-border);
  color: var(--pagination-input-border);
  font-family: inherit;
  font-weight: bold;
  height: var(--pagination-input-height);
  left: var(--pagination-input-left);
  letter-spacing: var(--pagination-input-letter-spacing);
  padding: var(--pagination-input-padding);
  position: absolute;
  text-align: center;
  top: var(--pagination-input-top);
  width: var(--pagination-input-width);
}

.currentPage {
  flex-basis: auto;
  flex-grow: 2;
  font-family: var(--pagination-font-family);
  height: 100%;
  position: relative;
  text-align: center;
  width: auto;
}

.expander {
  font-weight: bold;
  visibility: hidden;
}

.totalPages {
  flex-basis: auto;
  flex-grow: 1;
  padding: var(--pagination-label-padding);
  text-align: center;
  user-select: none;
}

.input:focus,
.input:invalid {
  box-shadow: unset;
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.separator {
  flex-basis: auto;
  flex-grow: 1;
  padding: var(--pagination-label-padding);
  text-align: center;
  user-select: none;
}
