@import "./properties.css";

.dropdown * {
  box-sizing: border-box;
  font-family: var(--dropdown-font-family);
}

.dropdown {
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: var(--dropdown-height);
  border-top: var(--dropdown-border-top);
  border-right: var(--dropdown-border-right);
  border-bottom: var(--dropdown-border-bottom);
  border-left: var(--dropdown-border-left);
  border-radius: var(--dropdown-border-radius);
}

.select {
  cursor: inherit;
  appearance: none;
  border: none;
  display: block;
  text-align: left;
  height: var(--dropdown-select-height);
  font-size: var(--dropdown-font-size);
  width: 100%;
  color: var(--dropdown-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--dropdown-background-color);
  outline: none;
  padding:
    var(--dropdown-select-padding-top, 0)
    var(--dropdown-select-padding-right, 0)
    var(--dropdown-select-padding-bottom, 0)
    var(--dropdown-select-padding-left, 0);
}

.select:active + .arrow {
  color: var(--dropdown-icon-color-active);
  background-color: var(--dropdown-icon-background-active);
}

.disabled:active + .arrow {
  color: var(--dropdown-text-color);
  background-color: var(--dropdown-background-color);
}

.arrow {
  position: absolute;
  top: var(--dropdown-icon-top, 0);
  right: 0;
  pointer-events: none;
  width: var(--dropdown-icon-size);
  height: var(--dropdown-icon-size);
  border-left: var(--dropdown-icon-border);
}

.option {
  color: var(--dropdown-option-color);
  cursor: pointer;
  appearance: none;
}

.placeholder {
  opacity: var(--dropdown-option-disabled-opacity);
}

.placeholder:hover {
  background: var(--dropdown-option-disabled-background);
  cursor: not-allowed;
}

.active {
  color: var(--dropdown-option-selected-color);
}

.label {
  color: var(--dropdown-placeholder-color);
  font-size: var(--dropdown-placeholder-font-size);
  line-height: var(--dropdown-placeholder-line-height);
  display: block;
}

.disabled,
.disabled * {
  cursor: not-allowed;
}

.disabled .select {
  pointer-events: none;
  user-select: none;
}

.disabled {
  opacity: var(--dropdown-option-disabled-opacity);
  color: var(--dropdown-color-disabled);
}

.disabled .placeholder {
  color: var(--dropdown-color-disabled);
}

