@import "../colors.css";
@import "../typography.css";

:root {
  --dropdown-background-color: var(--color-white);
  --dropdown-border-bottom: 1px solid var(--color-light-grey-50);
  --dropdown-border-color-focus: var(--color-light-greenish-100);
  --dropdown-border-color: var(--color-light-silver-100);
  --dropdown-border-left: 1px solid var(--color-light-grey-50);
  --dropdown-border-radius: 3px;
  --dropdown-border-right: 1px solid var(--color-light-grey-50);
  --dropdown-border-top: 1px solid var(--color-light-grey-50);
  --dropdown-color-disabled: var(--color-light-silver-100);
  --dropdown-font-family: var(--title-font-family);
  --dropdown-font-size: 12px;
  --dropdown-height: 26px;
  --dropdown-icon-background-active: var(--color-light-greenish-100);
  --dropdown-icon-border: 1px solid var(--color-light-grey-50);
  --dropdown-icon-color-active: var(--color-white);
  --dropdown-icon-size: var(--dropdown-height);
  --dropdown-line-height: 37px;
  --dropdown-option-color: var(--color-light-chromium-100);
  --dropdown-option-disabled-background: none;
  --dropdown-option-disabled-opacity: 0.5;
  --dropdown-option-selected-color: var(--color-light-greenish-100);
  --dropdown-secondary-text-font-size: 12px;
  --dropdown-select-height: 26px;
  --dropdown-select-padding-bottom: 0;
  --dropdown-select-padding-left: 8px;
  --dropdown-select-padding-right: 20px;
  --dropdown-select-padding-top: 0;
  --dropdown-text-color: var(--color-light-chromium-100);
  --dropdown-placeholder-color: var(--color-light-chromium-100);
  --dropdown-placeholder-font-size: 12px;
  --dropdown-placeholder-line-height: 12px;
}
