@import "./properties.css";

.tableBody {
  width: 100%;
}

.tableBodyItem {
  padding: var(--body-td-padding);
  color: var(--body-td-color);
  font-size: var(--body-td-font-size);
  position: relative;
}

.tableBody .empty {
  display: block;
  position: relative;
  width: 100%;
}

.tableBody .empty:before {
  content: "";
  position: absolute;
  background: var(--body-td-empty-background-color);
  height: var(--body-td-empty-height);
  width: var(--body-td-empty-width);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.tableBody tr {
  width: 100%;
  height: var(--body-tr-height);
  outline: 0;
}
