@import "./properties.css";

.expandable {
  text-align: left;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: var(--expandable-row-padding);
}

.expandable ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.expandable li {
  display: inline-block;
  padding: var(--expandable-row-li-padding);
}

.expandable li .title {
  display: block;
  text-transform: uppercase;
  font-size: var(--table-font-size);
  color: var(--expandable-row-title-color);
  padding-bottom: var(--expandable-row-title-padding-bottom);
}

.expandable li .text {
  display: block;
  color: var(--expandable-row-text-color);
  font-size: var(--table-font-size);
  min-width: var(--expandable-row-text-min-width);
  padding-bottom: var(--expandable-row-text-padding-bottom);
}
