@import "../colors.css";
@import "../typography.css";

:root {
  --arrow-border: 1px solid var(--color-light-iron-50);
  --body-td-color: var(--color-light-chromium-100);
  --body-td-empty-background-color: var(--color-light-chromium-100);
  --body-td-empty-height: 2px;
  --body-td-empty-width: calc(100% - 20px);
  --body-td-font-size: 13px;
  --body-td-padding: 16px;
  --body-tr-even-background-color: var(--color-white);
  --body-tr-even-border: 1px solid var(--color-light-grey-50);
  --body-tr-expanded-hover-border-width: 0 1px 1px;
  --body-tr-first-child-hover-border-width: 1px 0 1px 1px;
  --body-tr-height: 68px;
  --body-tr-hover-border-color: var(--color-light-greenish-100);
  --body-tr-hover-border-width: 1px 0;
  --body-tr-last-child-hover-border-width: 1px 1px 1px 0;
  --body-tr-odd-background-color: var(--color-light-smoke-50);
  --body-tr-odd-border: 1px solid var(--color-light-grey-50);
  --expandable-row-li-padding: 0 20px;
  --expandable-row-padding: 21px 24px 0 27px;
  --expandable-row-text-color: var(--color-light-chromium-100);
  --expandable-row-text-min-width: 80px;
  --expandable-row-text-padding-bottom: 24px;
  --expandable-row-title-color: var(--color-light-steel-100);
  --expandable-row-title-padding-bottom: 0;
  --head-th-active-border-bottom-color: var(--color-light-greenish-gradient);
  --head-th-active-border-bottom-height: 2px;
  --head-th-active-border-bottom-width: calc(100% - 1px);
  --head-th-active-color: var(--color-light-greenish-100);
  --head-th-color: var(--color-light-steel-100);
  --head-th-font-size: 12px;
  --head-th-font-weight: 600;
  --head-th-line-height: normal;
  --head-th-padding: 16px;
  --head-th-separator-border: solid 1px var(--color-light-grey-50);
  --head-th-separator-height: calc(100% - 24px);
  --head-th-svg-margin: 10px;
  --head-th-text-transform: uppercase;
  --head-tr-background-color: var(--color-light-smoke-100);
  --head-tr-border: solid 1px var(--color-light-iron-50);
  --head-tr-height: 66px;
  --hover-row-border-width: 1px 0 0;
  --hover-row-first-child-border-width: 1px 0 0 1px;
  --hover-row-last-child-border-width: 1px 1px 0 0;
  --table-arrow-border: 1px solid var(--color-light-iron-50);
  --table-border: solid 1px var(--color-light-grey-50);
  --table-check-width: 54px;
  --table-font-family: var(--body-font-family);
  --table-font-size: 14px;
  --table-min-width: 1054px;
  --table-open-width: 60px;
  --table-width: 100%;
}
