@import "../colors.css";
@import "../typography.css";

:root {
  --radio-group-text-font-family: var(--title-font-family);
  --radio-group-text-font-size: 14px;
  --radio-group-text-color: var(--color-light-coal-50);

  --radio-group-secondary-text-font-size: 12px;
  --radio-group-secondary-text-margin: 0 0 0 10px;

  --radio-group-color: var(--color-light-steel-100);
  --radio-group-color-disabled: var(--color-light-silver-100);
  --radio-group-color-success: var(--color-light-greenish-100);
  --radio-group-color-error: var(--color-light-red-100);

  --radio-group-transition-speed: 150ms ease-in;

  --radio-group-bullet-size: 20px;
  --radio-group-bullet-border: 2px solid;
}
