@import "./properties.css";

.avatar,
.placeholder svg {
  border-radius: var(--avatar-border-radius);
}

.avatar {
  margin-right: var(--avatar-margin-right);
}

.placeholder svg {
  border: var(--avatar-placeholder-border);
}
