@import "../colors.css";
@import "../typography.css";

:root {
  --calendar-active-color: var(--color-light-greenish-100);
  --calendar-day-box-shadow: none;
  --calendar-day-color: var(--color-light-coal-50);
  --calendar-day-font-size: 14px;
  --calendar-day-font-weight: normal;
  --calendar-day-height: 25px;
  --calendar-day-out-of-range-color: var(--color-light-steel-50);
  --calendar-day-picker-background-color: transparent;
  --calendar-day-picker-background: none;
  --calendar-day-picker-border: none;
  --calendar-day-picker-border-top: 1px solid var(--color-light-smoke-50);
  --calendar-day-picker-border-bottom: 1px solid var(--color-light-smoke-50);
  --calendar-day-picker-font-weight: bold;
  --calendar-day-picker-header-border-bottom: 1px solid rgba(var(--color-light-silver-100), 0.5);
  --calendar-day-picker-header-border-top: 1px solid rgba(var(--color-light-silver-100), 0.5);
  --calendar-day-picker-header-text-transform: uppercase;
  --calendar-day-picker-header-top: 53px;
  --calendar-day-picker-prev-left: 10px;
  --calendar-day-picker-next-right: 10px;
  --calendar-day-selected-border-radius: 3px;
  --calendar-day-selected-font-weight: bold;
  --calendar-day-transition:
    color 150ms ease-out,
    border-radius 150ms ease-out,
    background-color 150ms ease-out;
  --calendar-font-family: var(--title-font-family);
  --calendar-hovered-span: var(--color-light-greenish-20);
  --calendar-icon-font-size: 18px;
  --calendar-month-background-color: rgba(var(--color-black) 0.05);
  --calendar-month-caption-color: var(--color-light-coal-50);
  --calendar-month-caption-padding: 15px 0 48px;
  --calendar-month-caption-text-transform: uppercase;
  --calendar-month-grid-background: none;
  --calendar-month-height: 220px;
  --calendar-month-transform: translateX(-12px) translateY(-70px);
  --calendar-month-transition: opacity 100ms ease-in-out;
  --calendar-month-width: 1px;
  --calendar-selected-span: var(--color-light-silver-40);
  --calendar-top: 45px;
  --calendar-week-name-background: var(--color-light-silver-20);
  --calendar-week-name-color: var(--color-light-greenish-100);
  --calendar-week-name-font-size: 14px;
  --calendar-week-name-font-weight: bold;
  --calendar-week-padding-top: 4px;
  --calendar-week-padding-bottom: 5px;
  --calendar-week-spacing: 3px;
}
