@keyframes normal-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-success-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-success-color);
  }
}

.light-normal {
  color: var(--button-success-color);
  background-color: var(--button-success-color);
  background-image: var(--button-success-gradient);
  border-color: var(--button-success-color);
  will-change: box-shadow;
}

.light-normal:focus {
  animation-name: normal-focus;
  animation-duration: var(--button-focus-animation-duration);
  background-color: var(--button-success-focus);
  background-image: none;
}

.light-normal:hover {
  animation: none;
  background-color: var(--button-success-hover);
  background-image: none;
  border-color: var(--button-success-hover);
}

.light-normal:active {
  animation: none;
  background-color: var(--button-success-active);
  background-image: none;
  border-color: var(--button-success-active);
}

/*
 * low Button
 * */

@keyframes low-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-neutral-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-neutral-color);
  }
}

.light-low {
  color: var(--button-neutral-color);
  background-color: var(--button-neutral-color);
  border-color: var(--button-neutral-color);
  will-change: box-shadow;
}

.light-low:focus {
  animation-name: low-focus;
  animation-duration: var(--button-focus-animation-duration);
  background-color: var(--button-neutral-focus);
  background-image: none;
}

.light-low:hover {
  animation: none;
  background-color: var(--button-neutral-hover);
  border-color: var(--button-neutral-hover);
}

.light-low:active {
  animation: none;
  background-color: var(--button-neutral-active);
  background-image: none;
  border-color: var(--button-neutral-active);
}

/*
 * high Button
 * */

@keyframes high-focus {

  0% {
    box-shadow: var(--button-focus-animation-start) var(--button-danger-color);
  }

  100% {
    box-shadow: var(--button-focus-animation-end) var(--button-danger-color);
  }
}

.light-high {
  color: var(--button-danger-color);
  background-color: var(--button-danger-color);
  background-image: var(--button-danger-gradient);
  border-color: var(--button-danger-color);
  will-change: box-shadow;
}

.light-high:focus {
  animation-name: high-focus;
  animation-duration: var(--button-focus-animation-duration);
  background-color: var(--button-danger-focus);
  background-image: none;
}

.light-high:hover {
  animation: none;
  background-color: var(--button-danger-hover);
  background-image: none;
  border-color: var(--button-danger-hover);
}

.light-high:active {
  animation: none;
  background-color: var(--button-danger-active);
  background-image: none;
  border-color: var(--button-danger-active);
}
