@import "../colors.css";
@import "../typography.css";

:root {
  --button-block-background: var(--color-light-grey-20);
  --button-block-color: var(--color-light-coal-100);
  --button-border-radius: 3px;
  --button-color: var(--color-white);
  --button-dark-color: var(--color-light-coal-100);
  --button-disabled-background-color: var(--color-light-silver-50);
  --button-disabled-color: var(--color-light-chromium-100);
  --button-focus-animation-duration: 0.3s;
  --button-focus-animation-end: inset 0 0 3px 0;
  --button-focus-animation-start: inset -200px 0 3px 0;
  --button-focus-box-shadow: inset 0 0 3px 3px;
  --button-font-family: var(--title-font-family);
  --button-font-size-default: 14px;
  --button-font-size-large: 14px;
  --button-font-size-small: 14px;
  --button-font-size-tiny: 12px;
  --button-font-style: var(--title-font-style);
  --button-font-weight: var(--title-font-weight);
  --button-height-default: 28px;
  --button-height-large: 28px;
  --button-height-small: 26px;
  --button-height-tiny: 26px;
  --button-high-relevance-active: var(--color-light-salmon-150);
  --button-high-relevance-color: var(--color-light-salmon-100);
  --button-high-relevance-focus: var(--color-light-salmon-50);
  --button-high-relevance-gradient: var(--color-light-salmon-gradient);
  --button-high-relevance-hover: var(--color-light-salmon-120);
  --button-icon-margin: 0 8px 0 0;
  --button-letter-spacing: var(--letter-spacing);
  --button-low-relevance-active: var(--color-light-grey-100);
  --button-low-relevance-color: var(--color-light-grey-50);
  --button-low-relevance-focus: var(--color-light-iron-50);
  --button-low-relevance-gradient: var(--color-light-grey-gradient);
  --button-low-relevance-hover: var(--color-light-iron-100);
  --button-normal-relevance-active: var(--color-light-greenish-150);
  --button-normal-relevance-color: var(--color-light-greenish-100);
  --button-normal-relevance-focus: var(--color-light-greenish-50);
  --button-normal-relevance-gradient: var(--color-light-greenish-gradient);
  --button-normal-relevance-hover: var(--color-light-greenish-120);
  --button-outline-border-style: solid;
  --button-outline-border-width: 1px;
  --button-outline-disabled-border: 1px solid var(--color-light-silver-50);
  --button-outline-disabled-color: var(--color-light-silver-100);
  --button-outline-padding-default: 0 23px;
  --button-outline-padding-large: 0 31px;
  --button-outline-padding-small: 0 15px;
  --button-outline-padding-tiny: 0 7px;
  --button-padding-default: 0 24px;
  --button-padding-large: 0 32px;
  --button-padding-small: 0 16px;
  --button-padding-tiny: 0 8px;
  --button-text-transform: uppercase;
  --button-icon-padding: 0;
  --button-icon-font-size-small: 12px;
  --button-icon-width-small: 26px;
  --button-icon-width-default: 28px;
  --button-icon-svg-margin: 0;
}
