@import "./properties.css";

.modal {
  background-color: var(--modal-background-color);
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-box-shadow);
  height: auto;
  outline: none;
  overflow: auto;
  padding: var(--modal-padding);
  position: relative;
  transform: translateY(var(--modal-position-top));
  width: var(--modal-inner-width);
}

.overlay {
  align-items: baseline;
  background: var(--modal-overlay-background);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.frame {
  background: var(--modal-frame-background-color);
  border-radius: var(--modal-border-radius);
  border: var(--modal-frame-border);
}

.title {
  align-items: center;
  color: var(--modal-title-color);
  display: flex;
  line-height: 100%;
  padding-top: var(--modal-padding);
}

.title > h2 {
  font-size: var(--modal-title-font-size);
  margin: var(--modal-title-margin);
  text-transform: var(--modal-title-text-transform);
}

.icon {
  margin-right: var(--modal-title-icon-spacing);
}

.actions > * {
  margin-left: var(--modal-actions-margin);
}

.title,
.content,
.actions {
  padding-left: var(--modal-padding);
  padding-right: var(--modal-padding);
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: var(--modal-padding);
}
