@import "../colors.css";
@import "../spacing.css";

:root {
  --date-selector-active-color: var(--color-light-greenish-100);
  --date-selector-background: var(--color-white);
  --date-selector-border-radius: 3px;
  --date-selector-border: 1px solid var(--color-light-silver-50);
  --date-selector-box-shadow: 2px 2.2px 8.7px 0.3px rgba(var(--color-light-steel-100), 0.25);
  --date-selector-calendar-margin-top: var(--spacing-small);
  --date-selector-calendar-week-spacing: 3px;
  --date-selector-day-color: var(--color-light-coal-50);
  --date-selector-day-font-size: 14px;
  --date-selector-day-out-of-range-color: var(--color-light-steel-50);
  --date-selector-day-selected-border-radius: 3px;
  --date-selector-font-family: var(--title-font-family);
  --date-selector-font-size: 12px;
  --date-selector-font-weight: bold;
  --date-selector-hovered-span: var(--color-light-greenish-20);
  --date-selector-icon-font-size: 18px;
  --date-selector-selected-days-color: var(--color-light-chromium-50);
  --date-selector-selected-days-font-size: 12px;
  --date-selector-selected-days-margin-bottom: 10px;
  --date-selector-selected-span: var(--color-light-silver-40);
  --date-selector-separator: var(--color-light-smoke-100);
  --date-selector-separator-width: 1px;
  --date-selector-separator-height: 15px;
  --date-selector-sidebar-active-color: var(--color-light-greenish-100);
  --date-selector-sidebar-background: var(--color-light-silver-20);
  --date-selector-sidebar-border: 1px solid var(--color-light-silver-50);
  --date-selector-sidebar-h2-font-size: 10px;
  --date-selector-sidebar-h2-font-style: normal;
  --date-selector-sidebar-h2-font-weight: 200;
  --date-selector-sidebar-h2-magin: var(--spacing-small) 0;
  --date-selector-sidebar-h2-padding-left: var(--spacing-small);
  --date-selector-sidebar-h2-text-transform: uppercase;
  --date-selector-sidebar-input-border-width: 2px;
  --date-selector-sidebar-input-font-weight: bold;
  --date-selector-sidebar-input-padding-left: calc(var(--spacing-small) - 2px);
  --date-selector-sidebar-label-border-left: 0 solid rgba(var(--color-black), 0);
  --date-selector-sidebar-label-font-size: 14px;
  --date-selector-sidebar-label-margin-left: var(--spacing-small);
  --date-selector-sidebar-label-text-transform: uppercase;
  --date-selector-sidebar-label-transition:
    color 150ms cubic-bezier(0.47, 0, 0.75, 0.72),
    padding-left 150ms cubic-bezier(0.47, 0, 0.75, 0.72),
    font-weight 150ms cubic-bezier(0.47, 0, 0.75, 0.72),
    border-left-width 150ms cubic-bezier(0.47, 0, 0.75, 0.72),
    border-left-color 150ms cubic-bezier(0.47, 0, 0.75, 0.72);
  --date-selector-sidebar-label-width: 100%;
  --date-selector-sidebar-label-will-change:
    color,
    padding-left,
    font-weight,
    border-left-width,
    border-left-color;
  --date-selector-sidebar-padding:
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-small);
  --date-selector-sidebar-title-color: var(--color-light-chromium-50);
  --date-selector-top: 45px;
  --date-selector-week-name-background: var(--color-light-silver-20);
  --date-selector-week-name-color: var(--color-light-greenish-100);
  --date-selector-week-name-font-size: 14px;
  --date-selector-week-name-font-weight: bold;
}
